{% extends "base/base.html" %}
{% load bootstrap %}

{% block content %}


{% if cliente %}
<form method="POST" action="/clientes/editar/{{cliente.id}}" enctype="multipart/form-data" accept-charset="UTF-8" role="form"> {% csrf_token %}
{% else %}
<form method="POST" action="/clientes/agregar" enctype="multipart/form-data" accept-charset="UTF-8" role="form"> {% csrf_token %}
{% endif %}

  {{formulario|bootstrap}}

  <a href="/clientes">
    <button type="button" class="btn btn-danger btn-lg pull-right">Cancelar</button>
  </a>
  <button type="submit" class="btn btn-primary btn-lg pull-right">Aceptar</button>

</form>
    
{% endblock content %}

{% block jsextra %}
  <script type="text/javascript">
    $('#id_rfc').attr('maxlength', '13');
    $('#id_rfc').attr('placeholder', 'Formato: AAA123456AAA');
  </script> 
{% endblock jsextra %}