{% extends "base/base.html" %}
{% block content %}


<a href="/clientes/agregar"><button type="button" class="btn btn-primary btn-lg pull-right">Nuevo</button></a>

<div class="row">
<div class="col-xs-12">
<table style="background: #fff; margin-top: 20px;" class="table table-bordered">
    <tbody>
        <tr>
            <th style="width: 50px;">#</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Ciudad</th>
            <th>Estado</th>
            <th>RFC</th>
            <th style="width: 100px;">Acción</th>
        </tr>
        {% for cliente in clientes %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{cliente.nombre}}</td>
            <td>{{cliente.direccion}}</td>
            <td>{{cliente.ciudad}}</td>
            <td>{{cliente.estado}}</td>
            <td>{{cliente.rfc}}</td>
            <td>
              <a class="btn btn-default" href="/clientes/editar/{{cliente.id}}"> 
                <i class="fa fa-edit"></i>
              </a>
              <a class="btn btn-danger" onclick="eliminar({{cliente.id}});"> 
                <i class="fa fa-trash"></i>
              </a>
            </td>
          </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>

<script type="text/javascript" charset="utf-8">
  function eliminar(id) {
    var confirmacion = confirm("¿Está seguro de eliminar este elemento?");
    if (confirmacion == true) {
      window.location = '/clientes/eliminar/' + id;
    }
  }
</script>


{% endblock content %}