{% extends "base/base.html" %}
{% load humanize %}
{% block content %}


<a href="/productos/agregar"><button type="button" class="btn btn-primary btn-lg pull-right">Nuevo</button></a>

<div class="row">
<div class="col-xs-12">
<table style="background: #fff; margin-top: 20px;" class="table table-bordered">
    <tbody>
        <tr>
            <th style="width: 50px;">#</th>
            <th>Descripción</th>
            <th>Modelo</th>
            <th>Precio</th>
            <th style="width: 100px;">Acción</th>
        </tr>
        {% for producto in productos %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{producto.descripcion}}</td>
            <td>{{producto.modelo}}</td>
            <td>$ {{producto.precio | intcomma }}</td>
            <td>
              <a class="btn btn-default" href="/productos/editar/{{producto.id}}"> 
                <i class="fa fa-edit"></i>
              </a>
              <a class="btn btn-danger" onclick="eliminar({{producto.id}});"> 
                <i class="fa fa-trash"></i>
              </a>
            </td>
          </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>

<script type="text/javascript" charset="utf-8">
  function eliminar(id) {
    var confirmacion = confirm("¿Está seguro de eliminar este elemento?");
    if (confirmacion == true) {
      window.location = '/productos/eliminar/' + id;
    }
  }
</script>


{% endblock content %}