{% load staticfiles %} 
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>COP1 PV</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    
    <link href="{% static "dist/css/AdminLTE.min.css" %}" rel="stylesheet" type="text/css" />
    <!-- DatePicker -->
    <link href="{% static "css/bootstrap-datepicker.min.css" %}" rel="stylesheet" type="text/css" />
    
    <link rel="stylesheet" href="{% static "dist/css/skins/skin-blue.min.css" %}" >

    
  </head>
  
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

      <!-- Main Header -->
      <header class="main-header">

        <!-- Logo -->
        <a href="/" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>PV</b></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>COP1 PV</b></span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Navegación</span>
          </a>

          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <li title="Configuración">
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
              </li>
            </ul>
          </div>

        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

          <!-- Sidebar Menu -->
          <ul class="sidebar-menu">
            <li class="header">Opciones</li>
            <li {% ifequal opcion 'Ventas' %}class="active" {% endifequal %}>
              <a href="/ventas"><i class="fa fa-calculator"></i> <span>Ventas</span></a>
            </li>
            <li {% if opcion in 'Clientes' or opcion in 'Agregar Cliente' %}class="active" {% endif %}>
              <a href="/clientes"><i class="fa fa-users"></i> <span>Clientes</span></a>
            </li>
            <li {% if opcion in 'Productos' or opcion in 'Agregar Producto'%}class="active" {% endif %}>
              <a href="/productos"><i class="fa fa-bed"></i> <span>Productos</span></a>
            </li>
          </ul><!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            {{opcion}}
          </h1>
          {% if opcion %}
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
            {% block opcion %}
            <li class="active">{{opcion}}</li>
            {% endblock opcion %}
          </ol>
          {% endif %}
          
        </section>

        <!-- Main content -->
        <section class="content">

          <!-- Your Page Content Here -->
          {% block content %}
             
          {% endblock content %}

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

      <!-- Main Footer -->
      <footer class="main-footer">
        Derechos reservados.
      </footer>

      
      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <div class="tab-content">
          <h3 class="control-sidebar-heading">Configuración</h3>
          <div class="form-group">
            <label class="control-sidebar-subheading">
              Tasa de interés
              <input type="number" value="{{tasa_interes}}" class="form-control" id="id_tasa_interes" min="0" max="100"></input>
            </label>
          </div>
          <div class="form-group">
            <label class="control-sidebar-subheading">
              Enganche sugerido
              <input type="number" value="{{porcentaje_enganche}}" class="form-control" id="id_porcentaje_enganche" min="0" max="100"></input>
            </label>
          </div>
          <button class="btn btn-info" id="id_actualizar_conf">Actualizar</button>
          <button class="btn btn-danger" id="id_cancelar" data-toggle="control-sidebar">Cancelar</button>
        </div>
      </aside>
      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->

    <!-- REQUIRED JS SCRIPTS -->

    <!-- jQuery 2.1.4 -->
    <script src="{% static "plugins/jQuery/jQuery-2.1.4.min.js" %}"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src=" {% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static "dist/js/app.min.js" %}"></script>
    <!-- DatePicker -->
    <script src="{% static "js/bootstrap-datepicker.min.js" %}" type="text/javascript"></script>
    <script src="{% static "locales/bootstrap-datepicker.es.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/base.js" %}" type="text/javascript"></script>

    {% block jsextra %}
      
    {% endblock jsextra %}

  </body>
</html>
